<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Features</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>show_percents</string>
			<key>label</key>
			<string>Show Like Percentages</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>follow_status</string>
			<key>label</key>
			<string>Show Follow Status</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>save_actions</string>
			<key>label</key>
			<string>Enable Save Actions</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>custom_locations</string>
			<key>label</key>
			<string>Enable Custom Locations</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>hide_sponsored</string>
			<key>label</key>
			<string>Hide Sponsored Posts</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>app_browser</string>
			<key>label</key>
			<string>Open links in Instagram</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>disable_read_notification</string>
			<key>label</key>
			<string>Disable DM Seen Check</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>zoom_hi_res</string>
			<key>label</key>
			<string>Load hi-res for zoom</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>main_grid</string>
			<key>label</key>
			<string>Grid View in Main Feed</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>alert_mode</string>
			<key>label</key>
			<string>Double Tap Confirmation</string>
			<key>validTitles</key>
			<array>
				<string>Never</string>
				<string>Older than 24hrs</string>
				<string>Always</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Follow Spoofing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>fake_follower_count</string>
			<key>label</key>
			<string>Fake Follower Count</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>fake_following_count</string>
			<key>label</key>
			<string>Fake Following Count</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Audio &amp; Video</string>
		</dict>
<!-- 		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>video_mode</string>
			<key>label</key>
			<string>Auto-Play Video</string>
			<key>validTitles</key>
			<array>
				<string>Never</string>
				<string>Follow Ringer</string>
				<string>Always</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>audio_mode</string>
			<key>label</key>
			<string>Auto-Play Audio</string>
			<key>validTitles</key>
			<array>
				<string>Never</string>
				<string>Follow Ringer</string>
				<string>Always</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timestamps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enable_timestamp</string>
			<key>label</key>
			<string>Enable Timestamps</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>always_timestamp</string>
			<key>label</key>
			<string>Always Show Timestamp</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>timestamp_format</string>
			<key>label</key>
			<string>Timestamp Format</string>
			<key>validTitles</key>
			<array>
				<string>Short</string>
				<string>Medium</string>
				<string>Long</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Muting</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enable_muting</string>
			<key>label</key>
			<string>Enable Muting</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>EditableListController</string>
			<key>isController</key>
        	<true/>
			<key>key</key>
			<string>muted_users</string>
			<key>label</key>
			<string>Muted Users</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>mute_mode</string>
			<key>label</key>
			<string>Mode</string>
			<key>validTitles</key>
			<array>
				<string>Blacklist</string>
				<string>Whitelist</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @itsjake88</string>
			<key>icon</key>
			<string>TwitterIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @AOkhtenberg (design)</string>
			<key>icon</key>
			<string>TwitterIcon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>InstaBetter</string>
</dict>
</plist>
