<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FEATURES</string>
		</dict>
<!-- 		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>show_percents</string>
			<key>label</key>
			<string>SHOW_LIKE_PERCENTAGES</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>return_key</string>
			<key>label</key>
			<string>ENABLE_RETURN_KEY</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>follow_status</string>
			<key>label</key>
			<string>SHOW_FOLLOW_STATUS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SAVING_AND_SHARING</string>
			<key>footerText</key>
			<string>Change the album that photos and videos are saved to.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>save_actions</string>
			<key>label</key>
			<string>ENABLE_SAVE_ACTIONS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>save_confirm</string>
			<key>label</key>
			<string>SAVE_CONFIRMATION</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>save_mode</string>
			<key>label</key>
			<string>SAVE_MODE</string>
			<key>validTitles</key>
			<array>
				<string>BUTTONS</string>
				<string>ACTION_SHEET</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>share_mode</string>
			<key>label</key>
			<string>SHARE_MODE</string>
			<key>validTitles</key>
			<array>
				<string>INSTAGRAM_LINK</string>
				<string>DIRECT_LINK</string>
				<string>POST_CONTENT</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>show_repost</string>
			<key>label</key>
			<string>REPOST</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>Instagram</string>
			<key>key</key>
			<string>custom_album</string>
			<key>label</key>
			<string>SAVE_TO_ALBUM</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>custom_locations</string>
			<key>label</key>
			<string>ENABLE_CUSTOM_LOCATIONS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
<!-- 		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>account_switcher</string>
			<key>label</key>
			<string>ACCOUNT_SWITCHER</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict> -->

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>disable_read_notification</string>
			<key>label</key>
			<string>DISABLE_DM_SEEN</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>zoom_hi_res</string>
			<key>label</key>
			<string>LOAD_HI_RES</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>alert_mode</string>
			<key>label</key>
			<string>DOUBLE_TAP_CONFIRMATION</string>
			<key>validTitles</key>
			<array>
				<string>NEVER</string>
				<string>OLDER_THAN</string>
				<string>ALWAYS</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Feed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>main_grid</string>
			<key>label</key>
			<string>GRID_VIEW</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>layout_switcher</string>
			<key>label</key>
			<string>LAYOUT_BUTTON</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>hide_sponsored</string>
			<key>label</key>
			<string>HIDE_SPONSORED_POSTS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLLOW_SPOOFING</string>
			<key>footerText</key>
			<string>Fake your user data. Only you can see these changes.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>fake_follower_count</string>
			<key>label</key>
			<string>FAKE_FOLLOWER_COUNT</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>fake_following_count</string>
			<key>label</key>
			<string>FAKE_FOLLOWING_COUNT</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>fake_verified</string>
			<key>label</key>
			<string>FAKE_VERIFIED</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LINKS</string>
			<key>footerText</key>
			<string>Enable link parsing to click any link in the comments.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>app_browser</string>
			<key>label</key>
			<string>OPEN_IN_INSTAGRAM</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>safari_controller</string>
			<key>label</key>
			<string>USE_SAFARI_VIEW</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>parse_urls</string>
			<key>label</key>
			<string>PARSE_URLS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AUDIO_AND_VIDEO</string>
			<key>footerText</key>
			<string>THIS IS BROKEN AND DISABLED!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>video_mode</string>
			<key>label</key>
			<string>AUTO_PLAY_VIDEO</string>
			<key>validTitles</key>
			<array>
				<string>NEVER</string>
				<string>FOLLOW_RINGER</string>
				<string>ALWAYS</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>audio_mode</string>
			<key>label</key>
			<string>AUTO_PLAY_AUDIO</string>
			<key>validTitles</key>
			<array>
				<string>NEVER</string>
				<string>FOLLOW_RINGER</string>
				<string>ALWAYS</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TIMESTAMPS</string>
			<key>footerText</key>
			<string>Replace time ago (2d, 3hr, etc) with a timestamp.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enable_timestamp</string>
			<key>label</key>
			<string>ENABLE_TIMESTAMPS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>always_timestamp</string>
			<key>label</key>
			<string>ALWAYS_SHOW_TIMESTAMPS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>timestamp_format</string>
			<key>label</key>
			<string>TIMESTAMP_FORMAT</string>
			<key>validTitles</key>
			<array>
				<string>SHORT</string>
				<string>MEDIUM</string>
				<string>LONG</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MUTING</string>
			<key>footerText</key>
			<string>Mute users from your Instagram feed and activity timeline.</string>
		</dict>
<!-- 		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>enable_muting</string>
			<key>label</key>
			<string>ENABLE_MUTING</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>mute_feed</string>
			<key>label</key>
			<string>MUTE_FROM_MAIN_FEED</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>mute_activity</string>
			<key>label</key>
			<string>MUTE_FROM_ACTIVITY</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>EditableListController</string>
			<key>isController</key>
        	<true/>
			<key>key</key>
			<string>muted_users</string>
			<key>label</key>
			<string>MUTED_USERS</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>mute_mode</string>
			<key>label</key>
			<string>MODE</string>
			<key>validTitles</key>
			<array>
				<string>BLACKLIST</string>
				<string>WHITELIST</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<!-- BETA FEATURES -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BETA_FEATURES</string>
			<key>footerText</key>
			<string>Enable or disable hidden features that Instagram is currently testing. Some may become broken over time. Warning: These features are experimental.</string>
		</dict>
		<!-- CUSTOM NOTIFICATIONS -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_NOTIFICATIONS</string>
			<key>footerText</key>
			<string>Choose none for no sound, or default for the default iOS notification sound. Not selecting any sound will result in the default sound.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>key</key>
			<string>notifications_enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_like</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>LIKE</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_comment</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>COMMENT</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_new_follower</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>NEW_FOLLOWER</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_follow_request</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>FOLLOW_REQUEST</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_request_approved</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>REQUEST_APPROVED</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_usertag</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>TAGGED_IN_PHOTO</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.jake0oo0.instabetter</string>
			<key>default</key>
			<string>(none)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>notifications_direct</string>
			<key>valuesDataSource</key>
			<string>loadSounds</string>
			<key>titlesDataSource</key>
			<string>loadSounds</string>
			<key>label</key>
			<string>DIRECT_MESSAGE</string>
			<key>PostNotification</key>
			<string>com.jake0oo0.instabetter/prefsChange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Most changes can be made without restarting, but some may require a restart.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>restartInstagram:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESTART_INSTAGRAM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUPPORT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FOLLOW_DEV</string>
			<key>icon</key>
			<string>TwitterIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDesignerTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FOLLOW_DESIGN</string>
			<key>icon</key>
			<string>TwitterIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openPayPal:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>PayPal.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>InstaBetter</string>
</dict>
</plist>
