Package: com.jake0oo0.instabetter
Name: InstaBetter
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Better your Instagram experience
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 <jake0oo0dev@gmail.com>
Section: Tweaks
