Package: com.jake0oo0.instabetter
Name: InstaBetter
Depends: firmware (>= 7.0)
Version: 1.1.4
Architecture: iphoneos-arm
Description: The most comprehensive Instagram tweak yet
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 <jake0oo0dev@gmail.com>
Section: Tweaks
Icon: /Library/PreferenceBundles/InstaBetterPrefs.bundle/InstaBetter@3x.png
